#reportTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

#reportTable td, #reportTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#reportTable tr:nth-child(even){background-color: #f2f2f2;}

#reportTable tr:hover {background-color: #ddd;}

#reportTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00b8e6;
    color: white;
}
